## eval

In [4]:
x = 2
eval('x**2')

4

In [6]:
for i in range(4):
    print('print('+str(i)+'**2)')
    eval('print('+str(i)+'**2)')

print(0**2)
0
print(1**2)
1
print(2**2)
4
print(3**2)
9

In [15]:
def show_pass():
    print('password')
    
def hi():
    print('Hello!')
def bye():
    print('Cheers!')

In [16]:
expr=input('Enter an expression :')

Enter an expression :show_pass()

In [17]:
eval(expr)

password

### exec

In [1]:
exec('''
import numpy as np
x = 3
y=x**2
print(np.sin(y))
''')

0.4121184852417566

In [2]:
y

9

In [3]:
for i in range(10):
    exec('x{}=i'.format(i))

In [4]:
x4

4

### map

In [5]:
items = [1, 2, 3, 4, 5]
map(lambda x: x**2, items)

In [6]:
list(map(lambda x: x**2, items))

[1, 4, 9, 16, 25]

In [8]:
def myfunc(n):
    return len(n)

list(map(myfunc, ('apple', 'banana', 'cherry')))

[5, 6, 6]

In [12]:
def myfunc(a, b):
    return a + b

list(map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple')))

['appleorange', 'bananalemon', 'cherrypineapple']

### filter

In [9]:
number_list = range(-5, 5)
list(filter(lambda x: x < 0, number_list))

[-5, -4, -3, -2, -1]

In [12]:
ages = [5, 12, 17, 18, 24, 32]

def my_filter(x):
    if x < 18:
        return False
    else:
        return True

adults = filter(my_filter, ages)

for x in adults:
    print(x)

18
24
32

### reduce

In [13]:
from functools import reduce
reduce((lambda x, y: x * y), [1, 2, 3, 4])

24

In [14]:
def mult(x,y):
    print("x=",x," y=",y)
    return x*y

fact=reduce(mult, range(1, 7))

x= 1  y= 2
x= 2  y= 3
x= 6  y= 4
x= 24  y= 5
x= 120  y= 6