## Standard libraries

[Python standard library](https://docs.python.org/3/py-modindex.html)

In [ ]:
import this

## math

In [28]:
# from math import *
import math

0.1411200080598672

In [29]:
math.pi

3.141592653589793

In [30]:
math.e

2.718281828459045

In [31]:
math.radians(30)

0.5235987755982988

In [32]:
x = 3
math.sin(x)

0.1411200080598672

In [33]:
math.log(10)

2.302585092994046

In [34]:
math.log10(10)

1.0

## sys module

In [114]:
import sys

In [4]:
sys.version

'3.6.6 | packaged by conda-forge | (default, Oct 12 2018, 14:43:46) \n[GCC 7.3.0]'

In [ ]:
print(sys.argv)

In [ ]:
sys.path

In [ ]:
sys.exit(0)

In [ ]:
sys.prefix

In [ ]:
sys.executable

In [13]:
sys.platform

'linux'

In [25]:
x = 10000*[1]
sys.getsizeof(x)/1024/1024

0.07635498046875

In [26]:
sys.maxsize

9223372036854775807

## Os Module

In [ ]:
import os
os.getcwd
os.listdir
os.mkdir
os.chdir
os.rename
os.path.exists()
os.path.isdir
os.path.isfile

## RegEx in Python

In [35]:
import re

#### A set of characters

In [41]:
#Find all lower case characters alphabetically between "a" and "m":
x = re.findall("[a-m]", "The rain in Spain")
print(x)

['h', 'e', 'a', 'i', 'i', 'a', 'i']

#### Any character (except newline character)

In [42]:
#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":
x = re.findall("he..o", "hello world")
print(x)

['hello']

#### Starts with

In [46]:
#Check if the string starts with 'hello':
x = re.findall("^hello", "hello world")
x

['hello']

#### Ends with

In [ ]:
#Check if the string ends with 'world':
x = re.findall("world$", "hello world")

In [66]:
re.findall('^a...s$', 'abs')

[]

In [67]:
re.findall('^a...s$', 'alias')

['alias']

In [68]:
re.findall('^a...s$', 'abyss')

['abyss']

In [69]:
re.findall('^a...s$', 'Alias')

[]

In [70]:
re.findall('^a...s$', 'An abacus')

[]

In [78]:
re.findall('a..r', 'Hi, I am alireza')

['alir']

#### Zero or more occurrences

In [49]:
str = "The rain in Spain falls mainly in the plain!"

#Check if the string contains "ai" followed by 0 or more "x" characters:

x = re.findall("aix*", str)

print(x)

['ai', 'ai', 'ai', 'ai']

In [80]:
re.findall('ma*n', 'mn')

['mn']

In [81]:
re.findall('ma*n', 'man')

['man']

In [82]:
re.findall('ma*n', 'maaan')

['maaan']

In [83]:
re.findall('ma*n', 'main')

[]

In [84]:
re.findall('ma*n', 'woman')

['man']

#### One or more occurrences

In [85]:
re.findall('ma+n', 'mn')

[]

In [86]:
re.findall('ma+n', 'man')

['man']

In [88]:
re.findall('ma+n', 'maaan')

['maaan']

In [89]:
re.findall('ma+n', 'main')

[]

In [90]:
re.findall('ma+n', 'woman')

['man']

In [50]:
str = "The rain in Spain falls mainly in the plain!"

#Check if the string contains "ai" followed by 1 or more "x" characters:

x = re.findall("aix+", str)

print(x)

[]

#### zero or one occurrence

In [91]:
re.findall('ma?n', 'mn')

['mn']

In [92]:
re.findall('ma?n', 'man')

['man']

In [93]:
re.findall('ma?n', 'maaan')

[]

In [94]:
re.findall('ma?n', 'main')

[]

In [95]:
re.findall('ma?n', 'woman')

['man']

#### Exactly the specified number of occurrences

In [96]:
re.findall('a{2,3}', 'abc dat')

[]

In [97]:
re.findall('a{2,3}', 'abc daat')

['aa']

In [98]:
re.findall('a{2,3}', 'aabc daaat')

['aa', 'aaa']

In [100]:
re.findall('a{2,3}', 'aabc daaaat')

['aa', 'aaa']

In [51]:
str = "The rain in Spain falls mainly in the plain!"

#Check if the string contains "a" followed by exactly two "l" characters:

x = re.findall("al{2}", str)

print(x)

['all']

#### Either or

In [101]:
re.findall('a|b', 'cde')

[]

In [102]:
re.findall('a|b', 'ade')

['a']

In [103]:
re.findall('a|b', 'acdbea')

['a', 'b', 'a']

In [104]:
#Check if the string contains either "falls" or "stays":
re.findall("falls|stay", "The rain in Spain falls mainly in the plain!\
The passangers need to stay in the room!")

['falls', 'stay']

#### Group

In [107]:
re.findall('(a|b|c)xz', 'ab xz')

[]

In [108]:
re.findall('(a|b|c)xz', 'abxz')

['b']

In [109]:
re.findall('(a|b|c)xz', 'axz cabxz')

['a', 'b']

In [106]:
str = "The rain in Spain"
x = re.search("r", str)

x.start(),x.end()

(4, 5)

In [113]:
x.span()

(4, 5)

In [63]:
txt = "The rain in Spain is very usuall"
x = re.search("^The.*Spain", txt) 
x

In [111]:
re.split('n.n', 'Twelve:12 Eighty nine:89.')

['Twelve:12 Eighty ', 'e:89.']

## PIP

In [1]:
!pip --version

pip 19.0.3 from /home/gf/packages/anaconda3/lib/python3.6/site-packages/pip (python 3.6)

In [36]:
!pip install numpy

Requirement already satisfied: numpy in /home/gf/packages/anaconda3/lib/python3.6/site-packages (1.16.2)

### Python Virtual Environments

'/home/gf/packages/anaconda3/bin/python'